.rc-color-picker-trigger {
    border: 2px solid #000;
    padding: 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 0px 2px #fff;
}

.rc-color-picker-wrap {
    background: #fff;
    border-radius: 50%;
}